body {
	margin: 40px auto;
	max-width: 1000px;
	line-height: 1.3;
	font-size: 20px;
	padding: 0 10px;
	color: #F8F8F8;
	background-color: #343434;
}

button {
	background-color: #F8F8F8;
	box-shadow: 0;
	border: 0;
	color: #343434;
	border-radius: .25em;
}

.small {
	font-size: 9px;
	line-height: 1;
	margin: 10px auto;
	max-width: 500px;
}

.kill {
	opacity: 0;
}

h1 h2 h3 h4 {
	line-height: 1;
}

@media (min-width: 500){
	body {
		margin: auto auto;
		max-width: auto;
	}
}