body{margin:2em auto;
	max-width: 32.5em; /*650px;*/
	line-height: 1.3;
	font-size: 20px;
	padding: 0 0.625em;
	background-color: #F8F8F8;
	color: #343434;
}

button {
	background-color: #343434;
	color: #F8F8F8;
	box-shadow: 0;
	border: 0;
	border-radius: .25em;
	opacity: .85;
}

.kill {
	opacity: 0;
}

h1 h2 h3 h4 {
	line-height: 1;
}